body {
  margin: 4%;
  border-left: 2%;
  border-right: 2%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: darkseagreen;
}

h1 {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 5rem;
  color: rgb(6, 68, 32);
}

.item-lista div {
  text-align: center;

  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 10px;

  margin-right: 20px;
  font-size: 35px;
  border: 2px solid rgb(6, 60, 77);
  border-radius: 10px;
  background-color: rgb(115, 179, 142);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 600;
}

.item-lista a {
  text-decoration: none;
  color: rgb(36, 88, 58);
}

.menu ul {
  /* nesta declaração, é apenas para visualização inicial da div. */
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 10px;
  display: flex;
}

.informacoes {
  margin: 200px;
  padding: 0;
  text-align: center;
  color: rgb(6, 68, 32);
}
